﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="MCP20_Utils._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>MCP 2.0 Utilities</h1>
    </div>

    <div class="row">
        <a href="EditRosterFields.aspx">Add/Remove/Edit Roster Fields</a>
    </div>

</asp:Content>
